// allow get;
// allow list;

// allow read; (same as the two above)

// allow create;
// allow update;
// allow delete;

// allow write; (same as three above)

service cloud.firestore {
  match /databases/{database}/documents {

    match /cases/{caseId} {
      allow read: if isSignedIn() && companyUserIsActive(companyIdFromCaseId()) && (isAdminOrStaffUser(companyIdFromCaseId()) || (isDoctorUser(companyIdFromCaseId()) && isSameDoctorForCase()))
      allow create: if isSignedIn() && companyUserIsActive(companyIdFromCaseId()) && (isAdminOrStaffUser(companyIdFromCaseId()) || (isDoctorUser(companyIdFromCaseId()) && isSameDoctorForCase()))
      allow update: if isSignedIn() && companyUserIsActive(companyIdFromCaseId()) && (isAdminOrStaffUser(companyIdFromCaseId()) || (isDoctorUser(companyIdFromCaseId()) && isSameDoctorForCase()))
      /// we do not currently support deleting a case ///
      allow delete: if false
    }

    match /companyUserJoin/{companyUserJoinId} {
      allow read: if isSignedIn() && requestingUserIsOnCompanyUserJoin()
      /// we only allow writes from the create user / sign up cloud functions ///
      allow write: if false
    }

    match /companies/{companyId} {
      /// all of interaction with companies occurs in cloud functions ///
      allow read, write: if false
    }

    match /users/{userId} {
      allow read: if true
      allow create: if isSignedIn() && companyUserIsActive(companyIdFromQueriedUser()) && isAdminUser(companyIdFromQueriedUser())
      allow update: if isSignedIn() && companyUserIsActive(companyIdFromQueriedUser()) && isAdminUser(companyIdFromQueriedUser()) && isNotDeactivatingOwnUser() && isNotChangingRoleOnOnlyAdmin()
      /// Users cannot be deleted in our system. Instead, they are set as inactive.
      allow delete: if false
    }

    match /workflowCheckpoints/{workflowCheckpointId} {
      allow read: if isSignedIn() && companyUserIsActive(companyIdFromWorkflowCheckpoint())
      allow create: if isSignedIn() && companyUserIsActive(companyIdFromIncomingData()) && isAdminUser(companyIdFromIncomingData())
      allow update: if isSignedIn() && companyUserIsActive(companyIdFromWorkflowCheckpoint()) && isAdminUser(companyIdFromWorkflowCheckpoint())
      /// Workflow checkpoints cannot be deleted in our system because they may correspond to case checkpoints.
      allow delete: if false
    }

    match /companyWorkflows/{companyWorkflowId} {
      allow read: if isSignedIn() && companyUserIsActive(companyIdFromCompanyWorkflow())
      allow write: if isSignedIn() && companyUserIsActive(companyIdFromCompanyWorkflow()) && isAdminUser(companyIdFromCompanyWorkflow())
    }

    match /prescriptionTemplates/{prescriptionTemplateId} {
      allow read: if isSignedIn() && companyUserIsActive(companyIdFromPrescriptionTemplate())
      allow create: if isSignedIn() && companyUserIsActive(companyIdFromIncomingData()) && isAdminUser(companyIdFromIncomingData())
      allow delete: if false
      allow update: if false
    }

    /// Functions ///

    function existingData() {
      return resource.data
    }

    function requestingUserIsOnCompanyUserJoin() {
      return existingData().firebaseAuthenticationUid == uid()
    }

    function companyIdFromIncomingData() {
      return incomingData().companyId
    }

    function incomingData() {
      return request.resource.data
    }

    function isSignedIn() {
      return request.auth != null
    }

    function uid() {
      return request.auth.uid
    }

    function isNotDeactivatingOwnUser() {
      return !sameUser() || !isDeactivatingUser()
    }

    function isNotChangingRoleOnOnlyAdmin() {
      return !isSameUser() || !isChangingUserRole()
    }

    function sameUser() {
      return existingData().uid == uid()
    }

    function isDeactivatingUser() {
      return existingData().isActive && !incomingData().isActive
    }

    function isChangingUserRole() {
      return existingData().type != incomingData().type
    }

    function companyIdFromCaseId() {
      return existingData().companyId
    }

    function companyIdFromQueriedUser() {
      return existingData().companyId
    }

    function companyIdFromWorkflowCheckpoint() {
      return existingData().companyId
    }

    function companyIdFromCompanyWorkflow() {
      return existingData().companyId
    }

    function companyIdFromPrescriptionTemplate() {
      return existingData().companyId
    }

    function isSameDoctorForCase() {
      return existingData().doctor == companyUserIdFromCompanyId(companyIdFromCaseId())
    }

    function companyIdUidString(companyId) {
      return companyId + '_' + uid()
    }

    function companyUserJoinFromCompanyIdExists(companyId) {
      return exists(/databases/$(database)/documents/companyUserJoin/$(companyIdUidString(companyId)))
    }

    function companyUserIdFromCompanyId(companyId) {
      return get(/databases/$(database)/documents/companyUserJoin/$(companyIdUidString(companyId))).data.userId
    }

    function companyUserFromCompanyUserId(companyUserId) {
      return get(/databases/$(database)/documents/users/$(companyUserId)).data
    }

    function isAdminOrStaffUser(companyId) {
      return isAdminUser(companyId) || isStaffUser(companyId)
    }

    function companyUserIsActive(companyId) {
      return companyUserJoinFromCompanyIdExists(companyId) && companyUserFromCompanyUserId(companyUserIdFromCompanyId(companyId)).isActive
    }

    function isAdminUser(companyId) {
      return companyUserFromCompanyUserId(companyUserIdFromCompanyId(companyId)).type == 'Admin'
    }

    function isStaffUser(companyId) {
      return companyUserFromCompanyUserId(companyUserIdFromCompanyId(companyId)).type == 'Staff'
    }

    function isDoctorUser(companyId) {
      return companyUserFromCompanyUserId(companyUserIdFromCompanyId(companyId)).type == 'Doctor'
    }
  }
}
