.qr-code-display {
    display: none;
}

/*
    Using important a lot in this file because we need to override the material defaults for the
    styles. Using important makes it so we don't have to create complex selectors to trump the
    built in material specificity.
*/

@media print {
    .qr-code-display {
        display: block;
        position: absolute !important;
        height: auto !important;

        width: 100%;
        margin: 0;
        float: none;

        column-count: 2 !important;
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;

        column-gap: 64px;
        -webkit-column-gap: 64px;
        -moz-column-gap: 64px;

        column-rule: 1px solid rgba(224, 224, 224, 1);
        -webkit-column-rule: 1px solid rgba(224, 224, 224, 1);
        -moz-column-rule: 1px solid rgba(224, 224, 224, 1);
    }

    .section-container-qr-code-display {
        page-break-inside: avoid;
    }

    .authenticated-navigation-drawer-container, .hide-on-print {
        display: none !important;
    }

    @page {
        margin: 0;
    }

    h1 {
        font-size: 24pt !important;
    }

    h2, h3, h4 {
        font-size: 14pt !important;
    }

    label, input {
        font-size: 12pt !important;
    }
}