.qr-code-display {
    display: none;
}

@media print {
    .qr-code-display {
        visibility: visible;
        display: block;
        position: absolute !important;
        height: auto !important;
    }
}